    body{
        text-align: center;
        background-color:hotpink;
        line-height: 1.42857143;
        color: #333;
    }

    .header_div img{
        width: 300px;
        border-radius: 60px;
    }

    .images_result{
        box-shadow: 5px 5px 18px grey;
        letter-spacing: 2px;
        background: cyan;
        border-radius: 20px;
        padding: 20px;  
        font-family: 'Handlee', cursive;
        font-size: 22px;
        margin-left: 30px;
        margin-top: 30px;
        border: 2px solid cyan;
        width:30%;
    }

    .text_images_result{
        font-family: 'Handlee', cursive;
        font-size: 35px;
        text-align: center;
        background-color: white;
        color: black  ;
        border-radius: 50px;
        width: 20%;
        margin: 0 auto;
        height: 50px;
        float:none;
    }

    h4 {
        font-size: 30px;
    }

    .header{
        font-size: 70px;
        text-align: center;
        font-family: 'Cookie', cursive;
        font-weight: 500; 
        color:white;
    }

    .overall_conclusion{
        box-shadow: 5px 5px 18px grey;
        letter-spacing: 2px;
        font-family: 'Cookie', cursive;
        background: white;
        border-radius: 20px;
        padding: 20px;
        font-size: 50px;
        color:black;
        border: 2px solid grey;
        width:80%;
        margin-left: 270px;
    }

    h5{
        font-size: 20px;
    }
    ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }




    
  .copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    font-size: 45px;
    text-align: center;
      font-family: 'Cookie', cursive;
    }
 ol h5
 {
     background: white;
     padding: 13px;
     font-size: 30px;
     font-family: 'Handlee', cursive;
     border-radius: 20px;
 }
 span
 {
     color: red;
     font-size: 30px;
     font-family: 'Handlee', cursive;
 }	
 
     
 .bob
 {
     background: skyblue;
     padding: 30px;
     font-size: 30px;
     border-radius: 20px;
     font-family: 'Handlee', cursive;
     margin-top: 50px;
     box-shadow: 5px 5px 18px grey;
 }

  li img{
      border-radius: 20px;
  }

 b
 {
     color: hotpink;
 }
 
 .bob3
 {
     text-align: center;
     color: white;
 }
 .result
 {
     box-shadow: 5px 5px 18px grey;
     letter-spacing: 2px;
     background: #F2BAC9;
     font-family: 'Handlee', cursive;
     border-radius: 20px;
     margin-top:30px;
     font-size: 30px;
     padding: 20px;
     border:2px solid grey
 }
 